@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Bubbler+One');
@import url('https://fonts.googleapis.com/css?family=Arvo');

body{
	background-color: #f4f3ef;
	font-family: 'Arvo', serif;
	
}
.container{
	position: absolute;
	left: 50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.5);
	padding: 50px;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

h1{
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 50px;
}
input{
	font-family: 'Arvo', serif;
	padding: 10px;
	width: 70%;
	border: 2px solid rgb(170, 170, 170);
	width: 100%;
}

input[type=submit], button{
	font-family: 'Arvo', serif;
	padding: 10px;
	background-color: rgb(158, 209, 186);
	color: white;
	border: none;
	border-right: 2px solid rgb(77, 155, 141);
	border-bottom: 2px solid rgb(77, 155, 141);
	cursor: pointer;
	width: 100%;

}